# Dependencies
Frontend/node_modules/
Backend/node_modules/


Frontend/.env

# Environment files
Backend/.env
.env.local

# Build folders
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/

# Coverage
coverage/